.white_box {
    background-color:   white;
    top:                100px;
    padding-left:       5%;
    padding-top:        50px;
    padding-bottom:     50px;
    margin-left:        15%;
    margin-right:       15%;
    margin-bottom:      15%;
    border-radius:      10px;
    box-shadow:         15px 15px 5px;
    font-weight:        bold;
    z-index:            2;
}

.inner_box {
    background-color:   rgb(197, 197, 197);
    position:           relative;
    padding-left:       5%;
    padding-top:        10px;
    padding-bottom:     10px;
    margin-top:         2%;
    margin-left:        2%;
    margin-right:       10%;
    margin-bottom:      2%;
    border-radius:      10px;
    box-shadow:         7px 7px 5px;
    font-weight:        bold;
    z-index:            2;
}

.background_image{
    position:   fixed;
    width:      100vh;
    height:     100vh;
    background-position: center;
    z-index:    1;
}

.errormessage {
    color: red;
    font-weight: bold;
}