<header class="slds-global-header_container">
  <div class="slds-global-header">

    <button class="header slds-global-header__item slds-button" (click)="goToHomePage()">
      HEADER
    </button>

    <button *ngIf="isLoggedIn()"class="login slds-global-header__item slds-button" (click)="logout()">
        LOGOUT
    </button>

    <button *ngIf="!isLoggedIn()" class="login slds-global-header__item slds-button" (click)="goToLoginPage()">
        LOGIN
    </button>

    <div *ngIf="isLoggedIn()"class="login slds-global-header__item slds-button" (click)="goToDashboardPage()">
        {{welcomeMessage}}
    </div>

    <button *ngIf="!isLoggedIn()" class="register slds-global-header__item slds-button" (click)="goToRegisterPage()">
      REGISTER
    </button>

  </div>
</header>

<!-- <footer class="slds-global-footer_container">
<div class="slds-docked-form-footer footer">
  <div class="footer__item1">
    © 2017 Copyright.  All rights Reserved.  This website is operated by WIGAMEX. 
  </div>
  <div class="footer__item2">
    About the Team.
  </div> 
</div>
</footer> -->