<header class="slds-global-header_container">
  <div class="slds-global-header">

    <button class="header slds-global-header__item slds-button" (click)="goToHomePage()">
      HEADER
    </button>

    <button class="login slds-global-header__item slds-button" (click)="logout()">
        LOGOUT
    </button>

    <button class="login slds-global-header__item slds-button" (click)="goToLoginPage()">
        LOGIN
    </button>

    <div class="login slds-global-header__item slds-button">
        {{welcomeMessage}}
    </div>

    <button class="register slds-global-header__item slds-button" (click)="goToRegisterPage()">
      REGISTER
    </button>

  </div>
</header>