.app_wrapper {
    width: 100%;
    height: 100%;
    padding:0 0 0 0;
    margin: 0 0 0 0;
}

.ap {
    background-image: url('/assets/men.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    position: absolute; 
    z-index: 0;
  }

  .footer {
    height: 40px;
}

.footer__item1 {
    font-family: sans-serif;
    font-weight: bold;
    color:black;
    left: 10%;
    float: left;
    text-align: left;
}

.footer__item2 {
    font-family: sans-serif;
    font-weight: bold;
    color:black;
    right: 10%;
    float: right;
    text-align: right;
}
