<!-- <div class="background_image">
  <img src="/assets/men1.png">
</div> -->

<div class="page_content white_box">
  <form [formGroup]="loginForm">

    <input  class="form-control" 
            formControlName="username" 
            type="text" 
            required 
            placeholder="Username" 
            autofocus 
            [(ngModel)]="username">

    <input  class="form-control" 
            formControlName="password" 
            type="text" 
            required 
            placeholder="Password" 
            autofocus 
            type="password" 
            [(ngModel)]="password">

    <div    class="errormessage"
            *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
            Please enter your username
    </div>

    <div    class="errormessage"
            *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
            Please enter your password
    </div>

    <button (click)="login(username, password)" 
            type="submit"
            [disabled]="!loginForm.valid">
            Submit
    </button>
    <div    class="errormessage">
      {{errormessage}}
    </div>

  </form>
</div>