<!-- <div class="background_image">
  <img src="/assets/men1.png">
</div> -->

<div class="page_content white_box">
  <form [formGroup]="loginForm">

    <input  class="form-control" 
            formControlName="username" 
            type="text" 
            required 
            placeholder="Username" 
            autofocus 
            [(ngModel)]="username">

    <input  class="form-control" 
            formControlName="password" 
            type="text" 
            required 
            placeholder="Password" 
            autofocus 
            type="password" 
            [(ngModel)]="password">

    <button (click)="login(username, password)" 
            type="submit">
            Submit
    </button>
    <div    class="errormessage">
      {{errormessage}}
    </div>

  </form>
</div>